<div class="ShopByRo" id="ShopByRo">
    <!--<h2 style="text-align: center">Click Below to Find Your Manufacturer Recommended Parts</h2>!-->
    
   <div class="home-system-column ShopByRoDetails">
	<div style="position:relative;">
	    <img class="image" src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/residential-image.png" alt="ec-3-stage" />
	    <!--<div class="ProductActionAdd" style="position:absolute;top:180px;left:243px;">
		<a href="%%GLOBAL_ProductURL%%">View All Parts</a>
	    </div>!-->
	</div>
	<br>
	<ul class="unit-thumbnail-residential residential-img"> <!--QuickView"!-->
	    <li>
		<br>
		<strong>EC 3-Stage</strong>
		<a href="/ec-3-stage/">
		    <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/ec-3-stage-rosystem-trans.png" alt="ec-3-stage" />
		</a>
	    </li>
	    <li>
		<br>
		<strong>EC 4-Stage</strong>
		<img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/ec-3-stage-rosystem-trans.png" alt="ec-3-stage" />
	    </li>
	    <li>
		<strong>EC 3-Stage<br>with Permeate Pump</strong>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/ec-3-stage-rosystem-trans.png" alt="ec-3-stage" />
	    </li>
	    <li>
		<br>
		<strong>EC 4-Stage Deluxe</strong>
		<img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/ec-3-stage-rosystem-trans.png" alt="ec-3-stage" />
	    </li>
	    <li>
		<br>
		<strong>EC 5-Stage</strong>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/ec-3-stage-rosystem-trans.png" alt="ec-3-stage" />
	    </li>
	    <li>
		<strong>EC 5-Stage<br>Specialty Deluxe</strong>
		<img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/ec-3-stage-rosystem-trans.png" alt="ec-3-stage" />
	    </li>
	    <li>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/ec-3-stage-rosystem-trans.png" alt="ec-3-stage" />
	    </li>
	    <li>
		<img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/ec-3-stage-rosystem-trans.png" alt="ec-3-stage" />
	    </li>
	</ul>
    </div>
   
   <div class="home-system-column ShopByRoDetails">
	<div style="position:relative;">
	    <img class="image" src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/commercial-image.gif" alt="ec-3-stage" />
	    <!--<div class="ProductActionAdd" style="position:absolute;top:180px;left:243px;">
		<a href="%%GLOBAL_ProductURL%%">View All Parts</a>
	    </div>!-->
	</div>
	
	<br>
	<ul class="unit-thumbnail-commercial commercial-img"> <!--QuickView"!-->
	    <li>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/lpes500gdp-t.png" alt="ec-3-stage" />
	    </li>
	    <li>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/lpes500gdp-t.png" alt="ec-3-stage" />
	    </li>
	    <li>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/lpes500gdp-t.png" alt="ec-3-stage" />
	    </li>
	    <li>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/lpes500gdp-t.png" alt="ec-3-stage" />
	    </li>
	    <li>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/lpes500gdp-t.png" alt="ec-3-stage" />
	    </li>
	    <li>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/lpes500gdp-t.png" alt="ec-3-stage" />
	    </li>
	    <li>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/lpes500gdp-t.png" alt="ec-3-stage" />
	    </li>
	    <li>
	        <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/lpes500gdp-t.png" alt="ec-3-stage" />
	    </li>
	</ul>
    </div>
</div>
    
    
    <!--
    <ul class="ProductList">
	<li>
	    <div class="ShopByRoDetails">
		<strong>
		    <a href="%%GLOBAL_ProductLink%%">
			EC Series
			<br>
			RO Systems
		    </a>
		</strong>
		Click to view all parts for the Reo-Pure&#153 Residential EC Series RO Systems
		<br>
		<br>
		<br>
		<div class="ProductActionAdd">
			<a href="%%GLOBAL_ProductURL%%">View Parts</a>
		</div>
	    </div>
	    <div class="ShopByRoImage QuickView">
		    <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/ec-series-rosystems-200x400.png" alt="ec-series-systems" />
	    </div>
	</li>
	
	<li>
	    <div class="ShopByRoDetails">
		<strong>
		    <a href="%%GLOBAL_ProductLink%%">
			RP Series
			<br>
			RO Systems
		    </a>
		</strong>
		Click to view all parts for the Reo-Pure&#153 Residential EC Series RO Systems
		<br>
		<br>
		<br>
		<div class="ProductActionAdd">
			<a href="%%GLOBAL_ProductURL%%">View Parts</a>
		</div>
	    </div>
	    <div class="ShopByRoImage QuickView">
		    <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/ec-series-rosystems-200x400.png" alt="ec-series-systems" />
	    </div>
	</li>
	
	<!--<li>
	    <div class="ShopByRoImage QuickView">
		    <img src="https://store-va2jwrhq.mybigcommerce.com/product_images/uploaded_images/lpes-series-rosystems.png" alt="ec-series-systems" />
	    </div>
	    <div class="ShopByRoDetails">
		<strong>
		    <a href="%%GLOBAL_ProductLink%%">
			LP-ES Series
			<br>
			RO Systems
		    </a>
		</strong>
		Click to view all parts for the Reo-Pure&#153 Residential EC Series RO Systems
		<br>
		<br>
		<br>
		<div class="ProductActionAdd">
			<a href="%%GLOBAL_ProductURL%%">View Parts</a>
		</div>
	    </div>
	</li>
    </ul>
</div>!-->